#map {
	position:fixed;
	/*background-color:yellow;*/
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	/*z-index:-2;*/
}


.main {
	position:fixed;
	/*background-color:white;
	opacity:0.618;*/
	background-color: rgba(87, 255, 255, 0.69);
	width:100%;
	/*top:61.8%;*/
	/*height:28.2%;*/
	/*z-index:1;*/
	
	font-family:monospace;

  	
  	/*align-items: center;*/

	
}

.taxonomy {

	max-height:100px;
	max-width:200px;
	overflow:scroll;
	border-style:solid;
	padding:5px;
	font-size:14px;
	background-color: rgba(25, 255, 255, 0.1)
	/*border:5px;*/

}

.taxonomyContainer {
	width:100%;
	/*background-color:green;*/
	display: flex; /* or inline-flex */
  	justify-content: space-around;
  	flex-wrap: wrap;
}

.excerpt {
	font-size:16px;
	max-width:61%;
	max-height:180px;
	overflow:scroll;
	margin:0px;
	padding:10px;
	background-color: rgba(25, 255, 255, 0.1)
}

.title {
	background-color:black;
	font-size:20px;
	color:white;
	padding:3px;
}

.info {
	max-height:100px;
	max-width:200px;
	overflow:scroll;
	border-style:solid;
	padding:5px;
	font-size:14px;
	background-color: rgba(25, 255, 255, 0.1)
	/*border:5px;*/
}

.sidebar {
	position:fixed;
	left:0px;
	top:0px;
	height:100%;
	width:200px;
	text-align:right;
	background-color: rgba(255, 255, 255, 0.68);
}

.topbar {
	position:fixed;
	left:200px;
	top:0px;
	display: flex; /* or inline-flex */
  	justify-content: space-around;
  	flex-wrap: wrap;
  	background-color: rgba(255, 255, 255, 0.68);
}


html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color:black;

}

ul {
	padding:15px;
}

.image {
	max-width:200px;
	max-height:200px;
	opacity:1;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  top:3px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchLabel{
	font-size:20px;
	/*background-color:white;*/
	/*height:50px;*/
}

.label {
	background-color:white;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  transition: height .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0,
  height:100%;
}