
.intro {
	position:fixed;
	/*display:table-cell;*/
	z-index:3;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:black;
	color:white;
	font-family:'Ubuntu Mono';
	font-size:20px;
	text-align:center;
	vertical-align:middle;
}

.navigation{
	position:fixed;
	right:0px;
	top:20px;
	width:150px;

	/*height:180px;*/
	/*background-color:red;*/
	text-align:center;

}

.bigArrow{
	margin-top:40px;
	font-size:60px;
	/*width:;*/

}

.bigArrow:hover{
	cursor:pointer;
}

.introText{
	position:relative;
	z-index:3;
	top:38.2%;
}

#map {
	position:fixed;
	/*background-color:yellow;*/
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	/*z-index:-2;*/
}

ul {
	color:white;

}
li {
	font-size:40px;
	line-height:15px;
}

.main {
	position:fixed;
	/*background-color:white;
	opacity:0.618;*/
	/*background-color: rgba(87, 255, 255, 0.69);*/
	width:100%;
	/*top:61.8%;*/
	/*height:28.2%;*/
	/*z-index:1;*/
	
	font-family:'Ubuntu Mono';

  	
  	/*align-items: center;*/

	
}

.taxonButton:hover {
	cursor:pointer;
}


.taxonButton:hover .taxonName{
	transition:all 0.2s;
	padding-left:50px;
}

.taxonButton:hover .smallArrow{
	transition:all 0.6s;

	/*-ms-transform: rotate(270deg);*/ /* IE 9 */
    /*-webkit-transform: rotate(270deg);*/ /* Chrome, Safari, Opera */
    /*transform: rotate(270deg);*/


	color:lightblue;
	font-weight:bold;
	/*font-size:20px;*/
	/*left:7px;*/
	/*top:-5px;*/

}

.taxonomy {


	margin-top:20px;
	/*max-height:100px;
	max-width:200px;
	/*overflow:scroll;*/
	/*border-style:solid;
	padding:5px;
	font-size:14px;
	background-color: rgba(25, 255, 255, 0.1)*/*/
	/*border:5px;*/

}

.taxon {
	margin-bottom:10px;
	/*margin:10px;*/
}

.taxonName {
	background-color:white;
	padding-left:30px;
	font-size:20px;
}

.taxonName:hover{
	cursor:pointer;
}

.randomTypes {
	position:fixed;
	right:0;
	top:220px;
	background-color:yellow;
	width:200px;
}

.smallArrow {
	position:absolute;
	left:15px;
	color:white;
	font-size:15px;
	padding-right:55px;
	margin-top:15px;
}

.taxonLabel{
	/*text-align:;*/
	font-size:15px;
	background-color:black;
	color:white;
	padding-right:50px;
	padding-left:5px;
}

.shadowBox{
	cursor:pointer;
	text-align:center;
	z-index:15;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

.shadow{
	z-index:14;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.69;
}

.largeImage{
	overflow:hidden;
	padding-top:5%;
	z-index:15;
	position:fixed;
	left:0;
	top:0;
	width: 100vw;
	height:90%;
}

.largeImage img {
	z-index:15;
	/*opacity:1.5;*/
	
	/*max-height:100%;*/
	/*width:90vw;*/

	  max-height: 90%;
  		max-width: 90%;
  		position: absolute;
  		top: 0;
  		bottom: 0;
  		left: 0;
  		right: 0;
  		margin: auto;
  		border: 2px solid rgb(44,44,44);
	/*max-height:90vw;*/
	/*height: inherit !important;*/
	/*width: inherit !important;*/

}

.excerpt {
	/*font-family:'Open Sans';*/
	border-style:solid;
	border-color:white;
	font-size:18px;
	/*max-width:61%;*/
	display:inline-block;
	/*max-height:180px;*/
	overflow-y:scroll;
	margin-top:8px;
	margin-left:10px;
	padding:10px;
	max-height:200px;
	/*height:200px;*/
	background-color: lightblue;
	opacity:0.85;


	width: -moz-calc(100% - 200px);

/* WebKit */

	width: -webkit-calc(100% - 200px);

/* Opera */

	width: -o-calc(100% - 200px);

/* Standard */

	width: calc(100% - 200px);
	/*background-color:0.9;*/
}

.title {
	background-color:black;
	font-size:20px;
	color:white;
	padding:3px;
}

.next {
	background-color:black;
	font-size:20px;
	color:white;
	padding:10px;

}

.next:hover {
	cursor:pointer;
}

.listText {
	background-color:white;
	font-size:20px;
	color:black;
	padding-left:30px;
	/*padding:10px;*/
}

.info {
	position:relative;
	max-height:100px;
	/*max-width:300px;*/
	width:30vw;
	overflow:auto;
	/*border-style:solid;*/
	/*padding:10px;*/
	padding-left:50px;
	font-size:20px;
	/*background-color: rgba(25, 255, 255, 0.5)*/
	/*border:5px;*/
}

.sidebar {
	z-index:1;
	position:fixed;
	left:0px;
	top:0px;
	/*height:100%;*/
	width:200px;
	text-align:right;
	/*background-color: rgba(255, 255, 255, 0.68);*/
}

.topbar {
	position:fixed;
	left:200px;
	display:inline-block;
	top:0px;
	height:200px;
	/*overflow:scroll;*/
	/*width:80%;*/


	/* Firefox */

	width: -moz-calc(100% - 350px);

/* WebKit */

	width: -webkit-calc(100% - 350px);

/* Opera */

	width: -o-calc(100% - 350px);

/* Standard */

	width: calc(100% - 350px);
	/*display: flex; /* or inline-flex */
  	/*justify-content: space-around;
  	flex-wrap: wrap;*/*/
  	/*background-color: rgba(255, 255, 255, 0.68);*/
}


html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color:black;

}

ul {
	padding:15px;
}

.image {
	/*position:absolute;*/
	/*z-index:200;*/
	margin:10px;
	display:inline-block;
	/*opacity:0.5;*/
	float:right;
	-webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
    filter: grayscale(90%);

}

.image:hover{
	cursor:pointer;
}

.image:hover {

	transition:all 1s;

	/*cursor:pointer;*/

	-webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);

}

.thumbnail{
	width:140px;
	height:auto;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  top:3px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchLabel{
	font-size:20px;
	/*background-color:white;*/
	/*height:50px;*/
}

.label {
	background-color:white;
	padding-left:10px;
}

/*.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  transition: height .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ 

/*  opacity: 0,
  height:100%;
}
*/

.expand-enter-active {
  transition: all .5s;
  max-height: 100px;
  /*opacity:0.5;*/
  /*transition: height .5s*/
}

/*.expand-leave-active{
	transition: all .5s;
	max-height:0px;
}*/
.expand-enter, .expand-leave-to /* .fade-leave-active below version 2.1.8 */ {
  /*opacity: 0;*/
  max-height:0px;
  /*height: 0;*/
}



.twowayfade-leave-active, .twowayfade-enter-active  {
  transition: all 1s;
  opacity: 1;
  /*opacity:0.5;*/
  /*transition: height .5s*/
}

/*.expand-leave-active{
	transition: all .5s;
	max-height:0px;
}*/

.twowayfade-enter {
	opacity:0;
}

.twowayfade-leave-to  /* .fade-leave-active below version 2.1.8 */ {
  /*opacity: 0;*/
  opacity:0;
  /*height: 0;*/
}



.fade-leave-active {
  transition: all 2s;
  opacity: 0;
  /*opacity:0.5;*/
  /*transition: height .5s*/
}

/*.expand-leave-active{
	transition: all .5s;
	max-height:0px;
}*/
.fade-enter, .expand-leave-to /* .fade-leave-active below version 2.1.8 */ {
  /*opacity: 0;*/
  opacity:1;
  /*height: 0;*/
}
/*
.expand-transition {
  transition: all 3s ease;
  /*height: auto;*/
 /* padding: 10px;
  background-color: #eee;
  overflow: hidden;*/
}
 .expand-enter defines the starting state for entering 
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0px;
  /*padding: 0 10px;*/
  opacity: 0;
}*/