<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet" href = "css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
<title>Holocene</title>


</head>

<body>

<div class = "app">

<transition name="fade">
	<div class="intro" v-if="intro">
		<div class="introText">
		
			Life on Earth is currently experiencing its sixth major extinction event, the 
			<span class = "taxonName">
				<a href="https://en.wikipedia.org/wiki/Holocene_extinction" target="_blank">
					Holocene Extinction.
				</a>
			</span>
			<br>
			This is a look into those species that are considered to be <i>critically endangered</i>,<br> and shows how such species relate to other life and to the geography of the planet. 
			<br>
			<div class="bigArrow" v-on:click="intro=false">

				&#11015;
			</div>
		
		</div>
	</div>
</transition>



<div class = "main">

	

	<section class="sidebar">
		<br>
		<span class="title" v-show="vernacular">
			
				{{vernacular}}
			
		</span>
		<br><br>
		<span class="title" v-if="scientific">
			
				<i>{{scientific}}</i>
			
		</span>

		<div class="taxonomy">

			<div class="taxon" v-show="kingdom">
				<span class = "taxonLabel">
					Kingdom
				</span>
				<br>
				<span class="taxonName">
					{{ kingdom }}
				</span>
			</div>

			<div class="taxon" v-show="phylum">
				<span class = "taxonLabel">
					Phylum
				</span>
				<br>
				<span class="taxonName">
					{{ phylum }}
				</span>
			</div>

			<div class="taxon" v-show="klass">
				<span class = "taxonLabel">
					Class
				</span>
				<br>
				<span class="taxonName">
					{{ klass }}
				</span>
			</div>

			<div class="taxon" v-show="order">
				<span class = "taxonLabel">
					Order
				</span>
				<br>
				<span class="taxonName">
					{{ order }}
				</span>
			</div>

			<div class="taxon" v-show="family">
				<span class = "taxonLabel">
					Family
				</span>
				<br>
				<span class="taxonName">
					{{ family }}
				</span>
			</div>

			<div class="taxon" v-show="genus">
				<span class = "taxonLabel">
					Genus
				</span>
				<br>
				<span class="taxonName">
					{{ genus }}
				</span>
			</div>

		</div>

		<br><br><br><br><br><br><br>
		<!-- Rounded switch -->
		<div class="switchLabel" v-show="threats">
			<span class = "label">
				Human-Imposed Threats
				<label class="switch">
		  			<input type="checkbox" v-model="showThreats">
		  			<span class="slider round"></span>
				</label>
			</span>
		</div>
		

		<transition name="expand">
			<div class="info" v-if="showThreats">
				<ul>
				<li v-for="threat in threats">
					<span class = "listText">
						{{ threat.title }}
					</span>
					<br><br>
				</li>
				</ul>
			</div>
		</transition>

		<div class="switchLabel" v-show="countries">
			<span class = "label">
				Countries
				<label class="switch">
		  			<input type="checkbox" v-model="showCountries">
		  			<span class="slider round"></span>
				</label>
			</span>
		</div>
		

		<transition name="expand">
			<div class="info" v-show="showCountries" transition="expand">
				<ul>
				<li v-for="country in countries">
					<span class = "listText">
						{{ country }}
					</span>
					<br><br>
				</li>
				</ul>
			</div>
		</transition>
	</section>


	<section class="topbar">

		<div class="navigation">


			<span class="next" v-on:click="next()">
			next
			</span>


			<!-- <div class="switchLabel">
				<span class = "label">
					by type
					<label class="switch">
			  			<input type="checkbox" v-model="showRandom">
			  			<span class="slider round"></span>
					</label>
				</span>
			</div>
			

			<transition name="expand">
				<div class="randomTypes" v-if="showRandom">
					<span class="taxonName">hubba</span>
				</div>
			</transition> -->

		</div>
		
		<div class="excerpt">
			<transition name="fade">
				<span v-if="excerpt">
					{{excerpt}}
				</span>
			</transition>
		</div>
		


		
		<div class="image">
			<img v-bind:src="imgSrc" class="thumbnail">
			</img>
		</div>

	
	</section>
	
	
</div>

</div>
<div id = "map"></div>







<script src = "js/libs/vue.js"></script>
<script src = "js/libs/jquery.js"></script>
<!-- <script src =  -->
<script src = "world.geo.json"></script>
<script src = "js/species.js"></script>
<script src = "js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9_E2_FWgeaa-_JdeRo1CUvNfl5xgevj0&v=3&callback=initMap"></script>


<script type='text/javascript' src = "js/app.js"></script>
</body>

</html>