<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet" href = "css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<title>kaolin pigeon</title>


</head>

<body>

<div class = "main">

	<section class="sidebar">
		<br>
		<span class="title">
			
				{{vernacular}}
			
		</span>
		<br><br>
		<span class="title">
			
				<i>{{scientific}}</i>
			
		</span>
	</section>


	<section class="topbar">
		
		<div class="excerpt">
			<span>
				{{excerpt}}
			</span>
		</div>
		


		<div class="info">
			<ul>
			<li v-for="country in countries">
				{{ country }}
			</li>
			</ul>
		</div>
		<div class="info">
			<ul>
			<li v-for="threat in threats">
				{{ threat.title }}
			</li>
			</ul>
		</div>
		<img v-bind:src="imgSrc" class="image"></img>
	</section>
	
	
</div>


<div id = "map"></div>







<script src = "js/libs/vue.js"></script>
<script src = "js/libs/jquery.js"></script>
<!-- <script src =  -->
<script src = "js/species.js"></script>
<script src = "js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9_E2_FWgeaa-_JdeRo1CUvNfl5xgevj0&v=3&callback=initMap"></script>


<script type='text/javascript' src = "js/app.js"></script>
</body>

</html>